BeautifulSoup
BeautifulSoup4
cchardet
certifi
cryptography==2.1.4
dicttoxml
elaphe
erppeek
fabric
fabtools
fpdf>=1.7.2
geopy==0.95.1
git+https://github.com/pysiidte/pysiidte.git
httplib2>=0.7
IPy
lxml>=3.5,<4
M2Crypto==0.25.1
magento
openerp-client-lib
Pillow>=2.0.0
psycogreen
pygments
pymssql
pyOpenSSL==17.0.0
pysftp
pysimplesoap==1.08.8
python-magic
signxml>=2.4
SOAPpy
suds-jurko
urllib3
woocommerce
xlrd
XlsxWriter
xlwt
xmltodict
